<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<pre> ∧,,,∧
( ̳•·• ̳)
/   づ♡
</pre>

<!-- div only appears if there are more than one fish -->
<div *ngIf="getNumFish() > 0">
  <p i18n>The cat has been fed {{ getNumFish() }} fish.</p>
</div>
<!-- div only appears if there are no fish -->
<div *ngIf="getNumFish() == 0">
  <p i18n>The cat is hungry!</p>
</div>

<button i18n (click)="feedCat()" class="feed-button" [matBadge]="showBadge ? '!' : null" matBadgePosition="after" matBadgeColor="warn">
  <span class="material-symbols-outlined">heart_plus</span>
  Feed the Cat
</button>


