<div *ngIf="imageUrls">

    <h2 i18n>Cat-alog</h2>

    <mat-card infinite-scroll
              [infiniteScrollDistance]="distance"
              [infiniteScrollThrottle]="throttle"
              (scrolled)="onScroll()">
        <mat-card-title>
            <h3 i18n>Keep Scrolling!</h3>
        </mat-card-title>

        <mat-card-content class="card-content">
            <div class="image-grid">
                <mat-card *ngFor="let img of imageUrls" class="small-card">
                    <mat-card-content>
                        <img [src]="img" alt="cat image" class="cat-image"/>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>

</div>
