<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div *ngIf="data">

    <div *ngIf="loading" class="spinner-container">
        <mat-progress-spinner color="warn" mode="indeterminate"></mat-progress-spinner>
    </div>

    <h2 i18n>Cool Cat Facts</h2>

    <mat-card>
        <mat-card-title>
            <h3 i18n>Did You Know?</h3>
        </mat-card-title>
        
        <mat-card-content>
            <p>{{ data }}</p>
            <button i18n (click)="getFact()" class="fact-button">
                <span class="material-symbols-outlined">lightbulb</span>
                New Fact
            </button>
        </mat-card-content>
    </mat-card>
    
</div>
