mat-card {
    background-color: whitesmoke;
}

mat-card-title { 
    color: #c0aada; 
    justify-content: center; 
    display: flex; 
    margin-top: 1rem;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  margin-right: 5px;
}

.fact-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px 15px; 
    background-color: #c0aada; 
    color: whitesmoke;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
}


