mat-card {
    background-color: whitesmoke;
}

mat-card-title { 
    color: #c0aada; 
    justify-content: center; 
    display: flex; 
    margin-top: 1rem;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }


